<header class="header">
    <div class="header--wrap">
        <a href="/" class="header-logo--wrap">
            <img src="../public/img/header/header-logo.png" alt="header-logo">
        </a>
        <!-- /.header-logo--wrap -->
        <nav class="header-nav">
            <a href="#bannerClients" class="header-nav__link active">Розыгрыш</a>
            <!-- /.header-nav__link -->
            <a href="#rules" class="header-nav__link">Правила участия</a>
            <!-- /.header-nav__link -->
            <a href="#price" class="header-nav__link">Призы</a>
            <!-- /.header-nav__link -->
            <a href="#winners" class="header-nav__link">Победители</a>
            <!-- /.header-nav__link -->
        </nav>
        <!-- /.header-nav -->
        <div class="header-right">
            <a href="/user/login" class="header-right__link link--auth">
                Вход в личный кабинет
            </a>
            <!-- /.header-right__link -->
            <a href="/user/registre/client" class="header-right__link link--reg">
                Регистрация
            </a> <!-- /.header-right__link -->
        </div>
        <!-- /.header-right -->
        <div class="header-burger">
            <span class="header-burger__line"></span>
            <span class="header-burger__line"></span>
            <span class="header-burger__line"></span>
        </div>
        <!-- /.header-burger -->
    </div>
    <!-- /.header--wrap -->
</header>
<!-- /.header -->

<main class="main">
    <section class="bannerClients--wrap" id="bannerClients">
        <div class="bannerClients main-container">
            <div class="bannerClients-left">
                <div class="bannerClients-left__top">
                    <p>СКАЧАЙТЕ ПРИЛОЖЕНИЕ<br>
                        “ПРИЗОВАЯ МОЛНИЯ” <span>на ваше устройство</span></p>
                    <a href="https://play.google.com/store/apps/details?id=com.oplanet.lightning&hl=ru">
                        <img src="/public/img/clients/banner/googleplay.png" alt="googleplay">
                    </a>
                    <a href="https://apps.apple.com/ru/app/%D0%BF%D1%80%D0%B8%D0%B7%D0%BE%D0%B2%D0%B0%D1%8F-%D0%BC%D0%BE%D0%BB%D0%BD%D0%B8%D1%8F/id1459626313">
                        <img src="/public/img/clients/banner/applestore.png" alt="applestore">
                    </a>
                </div>
                <!-- /.bannerClients-left__top -->
                <div class="bannerClients-left__bottom">
                    <p>будь всегда в плюсе<br>
                        с призовой молнией</p>
                    <span>+</span> 
                </div>
                <!-- /.bannerClients-left__bottom -->
            </div>
            <!-- /.bannerClients-left -->
            <div class="bannerClients-right">
                <div class="bannerClients-right__text">
                    <span class="bannerClients-right__line-1">СКАЧАЙ</span>
                    <span class="bannerClients-right__line-2">ПРИЛОЖЕНИЕ</span>
                    <span class="bannerClients-right__line-3">СКАНИРУЙ ЧЕКИ</span>
                    <span class="bannerClients-right__line-4">ВЫИГРЫВАЙ ПРИЗЫ!</span>
                </div>
                <!-- /.bannerClients-right__text -->
                <div class="bannerClients-right__btn--wrap">
                    <a href="/user/registre/client">Стань участником</a>  
                </div>
                <!-- /.bannerClients-right__rtn--wrap -->
                <div class="eTimer"></div>
            </div>
            <!-- /.bannerClients-right -->
        </div>
        <!-- /.bannerClients -->
    </section>
    <!-- /.bannerClients--wrap -->


    <section class="rules--wrap" id="rules">
        <div class="main-title">
            <h2>Правила участия</h2>
        </div>
        <!-- /.main-title -->
        <div class="rules main-container">
            <p class="rules-title">
                Регистрируй чеки<br>
                Участвуй в розыгрыше призов!
            </p>
            <div class="rules-content">
                <div class="rules-content__item">
                    <img class="rules-content__item-img" src="/public/img/clients/rules/item-1.png" alt="item">
                    <div class="rules-content__item-text">
                        <span>1</span>
                        <p>
                            СОВЕРШИТЕ<br>
                            ПОКУПКУ У НАШИХ<br>
                            ПАРТНЕРОВ
                        </p>
                    </div>
                    <!-- /.rules-content__item-text -->
                    <img class="rules-circle-1" src="/public/img/clients/rules/item-1-circles.png" alt="circle">
                </div>
                <!-- /.rules-content__item -->
                <div class="rules-content__item">
                    <img class="rules-content__item-img" src="/public/img/clients/rules/item-2.png" alt="item">
                    <div class="rules-content__item-text">
                        <span>2</span>
                        <p>ОТСКАНИРУЙТЕ<br>
                            ЧЕК В МОБИЛЬНОМ<br>
                            ПРИЛОЖЕНИИ
                        </p>
                    </div>
                    <!-- /.rules-content__item-text -->
                    <img class="rules-circle-2" src="/public/img/clients/rules/item-2-circles.png" alt="circle">
                </div>
                <!-- /.rules-content__item -->
                <div class="rules-content__item">
                    <img class="rules-content__item-img" src="/public/img/clients/rules/item-3.png" alt="item">
                    <div class="rules-content__item-text">
                        <span>3</span>
                        <p>СТАНЬТЕ<br>
                            УЧАСТНИКОМ<br>
                            РОЗЫГРЫША
                        </p>
                    </div>
                    <!-- /.rules-content__item-text -->
                    <img class="rules-circle-3" src="/public/img/clients/rules/item-3-circles.png" alt="circle">
                </div>
                <!-- /.rules-content__item -->
            </div>
            <!-- /.rules-content -->
            <div class="rules-btn--wrap">
                <a href="/user/registre/client">Стань участником</a>  
            </div>
            <!-- /.rules-btn--wrap -->
        </div>
        <!-- /.rules -->
    </section>
    <!-- /.rules--wrap -->


    <section class="price--wrap" id="price">
        <div class="main-title">
            <h2>Призы</h2>
        </div>
        <!-- /.main-title -->
        <div class="price main-container">
            <img class="price-jackpot" src="/public/img/clients/price/jackpot.png" alt="jackpot">
            <span class="price-line-1">РАЗЫГРЫВАЕТСЯ ЕЖЕМЕСЯЧНО</span>
            <span class="price-line-2">ДО 300 000 руб.</span>
            <span class="price-line-3"></span>
            <span class="price-line-4"></span>
            <span class="price-line-5">Приз каждый день!</span>
            <span class="price-line-6">Ежедневно разыгрываем</span>
            <div class="price-line-7">
                <span class="price-line-7--left">до</span>
                <span class="price-line-7--center">10 000</span>
                <span class="price-line-7--right">руб.</span>
            </div>
        </div>
    </section>

<{ View(/LkController/statistic.html) }>
<!--
    <section class="winners--wrap" id="winners">
        <div class="main-title">
            <h2>Победители</h2>
        </div>
         /.main-title 
        <div class="winners main-container" id="winners">
            <form @submit="FindPhone" class="winners-top">
                <label for="checktel">Проверить свой номер телефона</label>
                <input v-model="findPhone" @keyup="FindPhone" type="tel" id="checktel" placeholder="Номер вашего телефона">
                <input type="submit" value="">
            </form>
             /.winners-top 
            <div class="winners-content">
                <div class="winners-content__top">
                    <button @click="posts = winners" class="active">Все призы за последнии 30 дней</button>
                     <button>джекпот</button> 
                </div>
                 /.winners-content__top 
                
                <table v-show="posts.length>=1" class="winners-content__table">
                    <thead>
                        <tr class="winners-content__table-title">
                            <th>Дата</th>
                            <th style=" border-right: 1px solid #B2B2B2; border-left: 1px solid #B2B2B2;">Имя участника</th>
                            <th>Сумма</th>
                            <th>Телефон</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr v-for="item in displayedPosts" :key="item.fn">
                            <td class="winners-content__td-left">{{ item.windate }}</td>
                            <td class="winners-content__td-center">{{ item.name }}</td>
                            <td class="winners-content__td-center">{{ item.winsum }}</td>
                            <td class="winners-content__td-left">{{ item.fphone }}</td>
                        </tr>
                        
                    </tbody>
                </table>
                <div v-show="posts.length<1"><h4>Номер не найден</h4></div>
                 /.winners-content__table 
                <div class="winners-content__bottom">
                    <button class="active">1</button>
                    <button type="button"  v-for="pageNumber in pages" @click="page = pageNumber"> {{pageNumber}} </button>

                    <button type="button"  v-if="page != 1" @click="page--"> << </button>
                    <button type="button"  v-for="pageNumber in pages.slice(page-1, page+5)" @click="page = pageNumber"> {{pageNumber}} </button>
                    <button type="button" @click="page++" v-if="page < pages.length" > >> </button>
                </div>
                 /.winners-content__bottom 
            </div>
             /.winners-content 
        </div>
      
<script type="text/javascript">
    var winners = new Vue({
        el: '#winners',
        data: {
            winners:{},
            posts: [],
            page: 1,
            perPage: 10,
            pages: [],
            findPhone:''
        },
        created() {
            this.getwiners();
        },
        methods: {
            FindPhone(e){
                e.preventDefault();
                let fp = _.filter(this.winners, (o)=> { 
                    var strF = new RegExp(this.findPhone,'gi');
                    var strFn = String(o.phone);
                    return strFn.search(strF)>-1;
                    //return o.phone == this.findPhone; 
                });
//                this.posts =[];
                this.posts= fp;
//                console.log(this.posts);
            },
            getwiners() {
                fetch('/api/checks/getwiners', {
                    mode: 'cors',
                    method: 'POST'
                })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Network response was not ok');
                })
                .then((json) => {
                    this.posts = json;
                    this.winners = json;
//                    console.log(this.posts);
                })
                .catch((error) => {
//                    this.errors = error;
                    console.log('FormLogin', error);
                });
            },
           setPages () {
               this.pages =[];
                let numberOfPages = Math.ceil(this.posts.length / this.perPage);
                for (let index = 1; index <= numberOfPages; index++) {
                  this.pages.push(index);
                }
            },
            paginate(posts) {
                let page = this.page;
                let perPage = this.perPage;
                let from = (page * perPage) - perPage;
                let to = (page * perPage);
                return  posts.slice(from, to);
            }
        },
        watch: {
          posts(){
            this.setPages();
          }
        },
        computed: {
            displayedPosts () {
              return this.paginate(this.posts);
            }
        },
    });
</script>
         /.winners 
    </section>
-->


    <section class="questions--wrap" id="questions">
        <div class="main-title" style="background: transparent;">
            <h2>Частые вопросы</h2>
        </div>
        <!-- /.main-title -->

        <div class="questions main-container">
            <div class="questions-item">
                <div class="questions-item__question">
                    <div class="questions-item__question-plus--wrap">
                        <span class="question-plus-line-1"></span>
                        <span class="question-plus-line-2"></span>
                    </div>
                    <p>У меня несколько юридических лиц. Могут ли они совместно участвовать в розыгрыше?</p>
                </div>
                <!-- /.questions-item__question -->
                <p class="questions-item__answer">
                    Да, конечно. После регистрации компании в сервисе, свяжитесь с нами для передачи полного списка ИНН.  
                </p>
                <!-- /.questions-item__answer -->
            </div>
            <!-- /.questions-item -->
            <div class="questions-item">
                <div class="questions-item__question">
                    <div class="questions-item__question-plus--wrap">
                        <span class="question-plus-line-1"></span>
                        <span class="question-plus-line-2"></span>
                    </div>
                    <p>В сообществе мало подписчиков. Подойдет ли мне ваш сервис?</p> 
                </div>
                <!-- /.questions-item__question -->
                <p class="questions-item__answer">
                    Конечно! С помощью "Призовой молнии" вы начнете набирать в свое сообщество реальных покупателей.
                </p>
                <!-- /.questions-item__answer -->
            </div>
            <!-- /.questions-item -->
            <div class="questions-item">
                <div class="questions-item__question">
                    <div class="questions-item__question-plus--wrap">
                        <span class="question-plus-line-1"></span>
                        <span class="question-plus-line-2"></span>
                    </div>
                    <p>Хотим запустить два розыгрыша одновременно. Возможно ли это?</p> 
                </div>
                <!-- /.questions-item__question -->
                <p class="questions-item__answer">
                    Да. Одновременно можно запустить до трех розыгрышей, у каждого из которых будут различные настройки и призы.
                </p>
                <!-- /.questions-item__answer -->
            </div>
            <!-- /.questions-item -->
            <div class="questions-item">
                <div class="questions-item__question">
                    <div class="questions-item__question-plus--wrap">
                        <span class="question-plus-line-1"></span>
                        <span class="question-plus-line-2"></span>
                    </div>
                    <p>Если покупатель по каким-либо причинам не сможет зарегистрировать чек, вы окажите ему поддержку?</p> 
                </div>
                <!-- /.questions-item__question -->
                <p class="questions-item__answer">
                    Безусловно! Поможем каждому клиенту решить проблему, связанную с добавлением чеков.
                </p>
                <!-- /.questions-item__answer -->
            </div>
            <!-- /.questions-item -->
            <div class="questions-item">
                <div class="questions-item__question">
                    <div class="questions-item__question-plus--wrap">
                        <span class="question-plus-line-1"></span>
                        <span class="question-plus-line-2"></span>
                    </div>
                    <p>Законно ли проводить такой розыгрыш?</p> 
                </div>
                <!-- /.questions-item__question -->
                <p class="questions-item__answer">
                    Все розыгрыши в нашем сервисе проходят в соответствии с законодательством РФ.
                    <br>Ваша деятельность и разыгрываемые призы должны соответствовать законам РФ, в противном случае розыгрыш будет заблокирован.
                </p>
                <!-- /.questions-item__answer -->
            </div>
            <!-- /.questions-item -->
            <div class="questions-item">
                <div class="questions-item__question"> 
                    <div class="questions-item__question-plus--wrap">
                        <span class="question-plus-line-1"></span>
                        <span class="question-plus-line-2"></span>
                    </div>
                    <p>Какой розыгрыш выбрать, для бренда или для бизнес сообщества?</p> 
                </div>
                <!-- /.questions-item__question -->
                <p class="questions-item__answer">
                    В случае розыгрыша для бизнес сообщества, ключевым фактором является итоговая сумма чека. Сервис выбирает чеки отталкиваясь от заданной суммы.
                    При розыгрыше для бренда, сервис определяет необходимые позиции в чеке.
                </p>
                <!-- /.questions-item__answer -->
            </div>
            <!-- /.questions-item -->
            <!-- <div class="questions-item">
               <div class="questions-item__question"> 
                  <div class="questions-item__question-plus--wrap">
                     <span class="question-plus-line-1"></span>
                     <span class="question-plus-line-2"></span>
                  </div>
                  <p>Сколько изображений нужно открыть?</p> 
               </div>
               
               <p class="questions-item__answer">
                  Скачать приложение, отсканировать чек и все! Скачать приложение, отсканировать чек и все! Скачать приложение, отсканировать чек и все!
                  Скачать приложение, отсканировать чек и все! Скачать приложение, отсканировать чек и все! Скачать приложение, отсканировать чек и все!
                  Скачать приложение, отсканировать чек и все! Скачать приложение, отсканировать чек и все! Скачать приложение, отсканировать чек и все!
                  Скачать приложение, отсканировать чек и все! Скачать приложение, отсканировать чек и все! Скачать приложение, отсканировать чек и все!
                  Скачать приложение, отсканировать чек и все! Скачать приложение, отсканировать чек и все! Скачать приложение, отсканировать чек и все!
                  Скачать приложение, отсканировать чек и все! Скачать приложение, отсканировать чек и все! Скачать приложение, отсканировать чек и все!
               </p>
            </div> -->

        </div>
        <!-- /.questions -->
    </section>
    <!-- /.questions--wrap -->


    <section class="feedback--wrap" id="feedback">
        <div class="main-title">
            <h2>Обратная связь</h2>
        </div>
        <!-- /.main-title -->
        <div class="feedback main-container">
             <div v-if="msgSend" class="feedback-top">
                 <h3>Ваше сообщение отправленно</h3>
<!--               <button class="active">вопросы по партнерству</button>
               <button>технический вопрос</button>
               <button>как получить выйгрыш</button>-->
            </div> 
            <!-- /.feedback-top -->
            <form @submit="SendFeedback" action="/index/feedback" class="feedback-form">
                <div class="feedback-wrap--input">
                    <input v-model="message.fio" type="text" id="feedbackName" required>
                    <label for="feedbackName">ФИО</label>
                </div>
                <!-- /.feedback-wrap--input -->
                <div class="feedback-wrap--input">
                    <input v-model="message.phone" type="tel" id="feedbackTel" required>
                    <label for="feedbackTel">Телефон</label>
                </div>
                <!-- /.feedback-wrap--input -->
                <div class="feedback-wrap--input">
                    <input v-model="message.email" type="email" id="feedbackEmail" required>
                    <label for="feedbackEmail">E-mail</label>
                </div>
                <!-- /.feedback-wrap--input -->
                <div class="feedback-wrap--input">
                    <textarea v-model="message.message" id="feedbackTextarea" required></textarea>
                    <label for="feedbackTextarea">Вопрос</label>
                </div>
                <!-- /.feedback-wrap--input -->
                <div class="feedback-wrap--input-last">
                    <label for="feedbackCheck">
                        <input v-model="BtnSend" type="checkbox" id="feedbackCheck">
                        <span></span>
                    </label>
                    <p>Согласие на хранение и обработку персональных данных</p>
                </div>
                <!-- /.feedback-wrap--input -->
                <div class="feedback-btn--wrap">
                    <input type="submit" :disabled="!BtnSend">
                </div>
                <!-- /.feedback-btn--wrap -->
            </form>
            <!-- /.feedback-form -->
        </div>
        <!-- /.feedback -->
    </section>
    <!-- /.feedback--wrap -->
<script type="text/javascript">
    var feedback = new Vue({
        el: '#feedback',
        data: {
          message:{fio:'',phone:'',email:'',message:''},BtnSend:false,msgSend:false
        },
        methods: {
            SendFeedback(e){
                e.preventDefault();
                fetch('/index/feedback', {
                    mode: 'cors',
                    method: 'POST',
                    body: JSON.stringify(this.message)
                })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Network response was not ok');
                })
                .then((json) => {
                    this.message={fio:'',phone:'',email:'',message:''};
                    this.msgSend = true;
                    MsgBox("Ваше сообщение отправлено");
                    console.log(json);
                })
                .catch((error) => {
                    console.log('FormLogin', error);
                });
            }
        }
    })
</script>
    <section class="download--wrap">
        <div class="main-title">
            <h2>Скачать приложение</h2>
        </div>
        <!-- /.main-title -->
        <div class="download main-container">
            <div class="download-content">
                <div class="download-content__left">
                    <div class="download-content__left-text">
                        <span class="download-content__left-text__line-1">
                            СКАЧАЙТЕ ПРИЛОЖЕНИЕ
                        </span> <!-- /.download-content__left-text__line-1 -->
                        <span class="download-content__left-text__line-2">
                            “ПРИЗОВАЯ МОЛНИЯ”
                        </span> <!-- /.download-content__left-text__line-2 -->
                        <span class="download-content__left-text__line-3">
                            на ваше устройство
                        </span> <!-- /.download-content__left-text__line-3 -->
                    </div>
                    <!-- /.download-content__left-text -->
                    <div class="download-content__left-download">
                        <div class="download-content__left-download__item">
                            <a href="https://play.google.com/store/apps/details?id=com.oplanet.lightning&hl=ru" target="_blank">
                                <img src="/public/img/clients/download/android-big.png" alt="android-big">
                            </a>
                        </div>
                        <!-- /.download-content__left-download__item -->
                        <div class="download-content__left-download__item">
                            <a href="https://apps.apple.com/ru/app/%D0%BF%D1%80%D0%B8%D0%B7%D0%BE%D0%B2%D0%B0%D1%8F-%D0%BC%D0%BE%D0%BB%D0%BD%D0%B8%D1%8F/id1459626313" target="_blank">
                                <img src="/public/img/clients/download/apple-big.png" alt="apple-big">
                            </a>
                        </div>
                        <!-- /.download-content__left-download__item -->

                    </div>
                    <!-- /.download-content__left-download -->
                </div>
                <!-- /.download-content__left -->
                <div class="download-content__right">
                    <img src="/public/img/clients/download/phone.png" alt="phone">
                </div>
                <!-- /.download-content__right -->

            </div>
            <!-- /.download-content -->

        </div>
        <!-- /.download -->
    </section>
    <!-- /.download--wrap -->

    <section class="partnersLink--wrap">
        <div class="main-title">
            <h2>Партнеры</h2>
        </div>
        <!-- /.main-title -->
        <!--<div class="partnersLink main-container">-->
            <{ View(/LkController/map.html) }>
            <!--<img src="/public/img/clients/partnersLink/partnersLink-img.png" alt="partnersLink">-->
        <!--</div>-->
        <!-- /.partnersLink -->
    </section>
    <!-- /.partnersLink--wrap -->
</main>
<!-- /.main -->

<footer class="footer" id="footer">
    <img class="footer-plus" src="/public/img/footer/plus.png" alt="plus">
    <img class="footer-plus" src="/public/img/footer/plus.png" alt="plus">
    <img class="footer-plus" src="/public/img/footer/plus.png" alt="plus">
    <img class="footer-plus" src="/public/img/footer/plus.png" alt="plus">
    <div class="footer-content">
        <div class="footer-content__item">
            <div class="footer-content__item-top">
                <a class="footer-content__item-tel" href="tel:+79272703293">7(937) 0327131</a>
                <a class="footer-content__item-mail" href="mailto:info@mylightning.ru">info@mylightning.ru</a>
            </div>
            <!-- /.footer-content__item-top -->
            <div class="footer-content__item-bottom">
                <div class="footer-content__item-docs">
                    <a href="/public/uploads/dogovor.docx">Скачать договор</a>
                    <a href="#">Скачать презентацию</a>
                </div>
                <!-- /.footer-content__item-docs -->
                <div class="footer-content__item-copyright">
                    <a href="#">Официальный сайт компании “Призовая молния”</a>
                </div>
                <!-- /.footer-content__item-copyright -->
            </div>
            <!-- /.footer-content__item-bottom -->
        </div>
        <!-- /.footer-content__item -->
        <div class="footer-content__item">
            <img class="footer-content__item-logo" src="/public/img/footer/logo.png" alt="logo">
            <div class="footer-content__item-bottom">
                <span class="footer-content__item-app__title">
                    СКАЧАЙТЕ ПРИЛОЖЕНИЕ<br>
                    “ПРИЗОВАЯ МОЛНИЯ” на ваше устройство
                </span>
                <div class="footer-content__item-app__download">
                    <a href="https://play.google.com/store/apps/details?id=com.oplanet.lightning&hl=ru">
                        <img src="/public/img/footer/android-big.png" alt="android">
                    </a>
                    <a href="https://apps.apple.com/ru/app/%D0%BF%D1%80%D0%B8%D0%B7%D0%BE%D0%B2%D0%B0%D1%8F-%D0%BC%D0%BE%D0%BB%D0%BD%D0%B8%D1%8F/id1459626313">
                        <img src="/public/img/footer/apple-big.png" alt="apple">
                    </a>
                </div>
                <!-- /.footer-content__item-app__download -->
            </div>
            <!-- /.footer-content__item-bottom -->
        </div>
        <!-- /.footer-content__item -->
        <div class="footer-content__item">
            <div class="footer-content__item-top">
                <a class="footer-content__item-inst" href="https://www.instagram.com/prizovaiamolniia/" target="_blank">prizovaiamolniia</a>
                <a class="footer-content__item-vk" href="https://vk.com/prizovaya_molniya" target="_blank">prizovaya_molniya</a>
            </div>
            <!-- /.footer-content__item-top -->
            <div class="footer-content__item-bottom">
                <div class="footer-content__item-copyright">
                    <a href="https://agatech.ru/" target="_blank">Сайт создан компанией “AGATECH”</a>
                </div>
                <!-- /.footer-content__item-copyright -->
            </div>
            <!-- /.footer-content__item-bottom -->
        </div>
        <!-- /.footer-content__item -->

    </div>
    <!-- /.footer-content -->
</footer>
<!-- /.footer -->

<script src="/public/js/jquery-3.4.1.min.js"></script>
<script src="https://e-timer.ru/js/etimer.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery(".eTimer").eTimer({
            etType: 0, etDate: "<{ raffletime }>", etTitleText: "До розыгрыша осталось:", etShowSign: 1, etSep: ":", etLastUnit: 4
        });
    });
</script>
<script src="/public/js/partners.js"></script>
<style>
    .eTimer {
        width: 100%;
        background-color: transparent;
        text-align: center;
        font-family: 'Museo Sans 500';
    }
    .eTimer .etTitle  {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .eTimer .etUnit .etNumber {
        font-family: 'Museo Sans 700';
        font-size: 55px;
        line-height: 55px;
        color: #000;
        padding: 15px 18px 15px 15px;
        margin: 4px;
        background: linear-gradient(to top,#fff 50%, #DEDEDE 50%,#F0F0F0 80%);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,.6);
    }
    .eTimer .etSep {
        display: inline-block;
        vertical-align: top;
        font-size: 32px;
        font-weight: bold;
        padding: 30px 5px;
    }
    .eTimer .etUnit .etSign {
        color: #000;
        text-align: center;
        font-size: 16px;
        margin-top: 10px;
        text-transform: capitalize;
    }
    @media (max-width: 1700px) {
        .eTimer .etTitle  {
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 18px;
        }
        .eTimer .etUnit .etNumber {
            font-size: 48px;
            line-height: 48px;
            padding: 14px 16px 14px 14px;
        }
        .eTimer .etSep {
            font-size: 30px;
            padding: 22px 5px;
        }
        .eTimer .etUnit .etSign {
            font-size: 15px;
            margin-top: 9px;
        }
    }
    @media (max-width: 1500px) {
        .eTimer .etTitle  {
            font-size: 21px;
            line-height: 21px;
            margin-bottom: 16px;
        }
        .eTimer .etUnit .etNumber {
            font-size: 44px;
            line-height: 44px;
            padding: 13px 15px 13px 13px;
            margin: 3px;
        }
        .eTimer .etSep {
            font-size: 28px;
            padding: 20px 4px;
        }
        .eTimer .etUnit .etSign {
            font-size: 14px;
            margin-top: 8px;
        }
    }
    @media (max-width: 1300px) {
        .eTimer .etTitle  {
            letter-spacing: 2px;
            font-size: 19px;
            line-height: 19px;
            margin-bottom: 14px;
        }
        .eTimer .etUnit .etNumber {
            font-size: 36px;
            line-height: 36px;
            padding: 11px 12px 11px 11px;
        }
        .eTimer .etSep {
            font-size: 26px;
            padding: 18px 3px;
        }
        .eTimer .etUnit .etSign {
            font-size: 13px;
            margin-top: 7px;
        }
    }
    @media (max-width: 1100px) {
        .eTimer {
            text-align: right;
        }
        .eTimer .etTitle  {
            font-size: 18px;
            line-height: 18px;
            margin-bottom: 10px;
        }
        .eTimer .etUnit .etNumber {
            font-size: 32px;
            line-height: 32px;
            padding: 10px 10px 10px 10px;
        }
        .eTimer .etSep {
            font-size: 24px;
            padding: 12px 3px;
        }
        .eTimer .etUnit .etSign {
            font-size: 12px;
            margin-top: 5px;
        }
    }
    @media (max-width: 900px) {
        .eTimer .etTitle  {
            font-size: 17px;
            line-height: 17px;
            margin-bottom: 7px;
        }
        .eTimer .etUnit .etNumber {
            font-size: 28px;
            line-height: 28px;
        }
        .eTimer .etSep {
            font-size: 24px;
            padding: 10px 3px;
        }
        .eTimer .etUnit .etSign {
            margin-top: 4px;
            font-weight: bold;
        }
    }
    @media (max-width: 500px) {
        .eTimer .etTitle  {
            font-size: 15px;
            line-height: 15px;
            margin-bottom: 5px;
        }
        .eTimer .etUnit .etNumber {
            font-size: 24px;
            line-height: 24px;
            padding: 8px 8px 8px 8px; 
            margin: 2px;
        }
        .eTimer .etSep {
            font-size: 20px;
            padding: 8px 3px;
        }
        .eTimer .etUnit .etSign {
            margin-top: 3px;
        }
    }
</style>
<script src="/public/js/scrollAnimationClients.js"></script>