<header class="header">
    <div class="container-main header__container">
        <a href="/" class="header__logo-wrap">
            <img src="/public/img/logo/logo.png" alt="" class="header__logo logo">
        </a>
        <nav class="header__nav nav">
            <a href="#client-banner" class="nav__link">Розыгрыш</a>
            <a href="#rules" class="nav__link">Правила участия</a>
            <a href="#prizes" class="nav__link">Призы</a>
            <a href="#winners" class="nav__link">Победители</a>
            <!--<a href="/user/registre/client" class="nav__link">Стать партнером</a>-->
        </nav>
        <div class="header__link_wrap">
            <a href="/client/login" class="header__link link-login">Вход в личный кабинет</a>
            <a href="/client/registre/client" class="header__link link-registration">Регистрация</a>
        </div>
        <div class="burger">
            <span class="burger__item burger__item-1"></span>
            <span class="burger__item burger__item-2"></span>
            <span class="burger__item burger__item-3"></span>
        </div>
    </div>
</header>

<main class="main">
    <section class="client-banner" id="client-banner">
        <div class="container-main client-banner__container">
            <div class="client-banner__item">
                <div class="client-banner__download">
                    <div class="client-banner__download-widget">
                        <p class="client-banner__download-widget__title">
                            СКАЧАЙТЕ ПРИЛОЖЕНИЕ<br>
                            “ПРИЗОВАЯ МОЛНИЯ”<br>
                            <span class="client-banner__download-widget__title_light">на ваше устройство</span>
                        </p>
                        <a target="_blank"
                            href="https://play.google.com/store/apps/details?id=com.oplanet.lightning&hl=ru"
                            class="client-banner__download-widget__item google-play"></a>
                        <a target="_blank"
                            href="https://apps.apple.com/ru/app/%D0%BF%D1%80%D0%B8%D0%B7%D0%BE%D0%B2%D0%B0%D1%8F-%D0%BC%D0%BE%D0%BB%D0%BD%D0%B8%D1%8F/id1459626313"
                            class="client-banner__download-widget__item app-store"></a>
                    </div>
                    <img src="/public/img/client-banner/client-banner__download-img.png" alt=""
                        class="client-banner__download-img">
                </div>
                <div class="client-banner__download-title">
                    <span>Будь всегда в плюсе</span>
                    <span>с призовой молнией</span>
                </div>
            </div>
            <div class="client-banner__item">
                <div class="text-offers">
                    <span class="text-offers__subtitle">Установи<br> приложение</span>
                    <span class="text-offers__item">совершай покупки</span>
                    <span class="text-offers__item">сканируй чеки</span>
                    <h1 class="text-offers__title">Выигрывай призы!</h1>
                    <a href="/client/registre/client" class="btn btn_bg-color_orange btn_text-color_white m-0" >Стань участником</a>
                </div>

                <div class="eTimer-title_wrap">
                    <span class="eTimer-title">До розыгрыша</span>
                    <span class="eTimer-title">осталось:</span>
                </div>
                <div class="eTimer"></div>
            </div>
        </div>
    </section>

    <section class="rules" id="rules">
        <h4 class="title">
            <span class="container-main title_text">Правила участия</span>
        </h4>
        <div class="container-main rules__container">
            <h3 class="rules__title">Регистрируй чеки<br>
                Участвуй в розыгрыше призов!</h3>
            <div class="rules__content">
                <div class="rules__item rules__item-1">
                    <img src="/public/img/rules/rules__item-img-1.png" alt="" class="rules__item-img">
                    <div class="rules__item-text">
                        <span class="rules__item-text__number">1</span>
                        <p class="rules__item-text__desc">
                            СОВЕРШИТЕ<br>
                            ПОКУПКУ У НАШИХ<br>
                            ПАРТНЕРОВ
                        </p>
                    </div>
                </div>
                <div class="rules__item rules__item-2">
                    <img src="/public/img/rules/rules__item-img-2.png" alt="" class="rules__item-img">
                    <div class="rules__item-text">
                        <span class="rules__item-text__number">2</span>
                        <p class="rules__item-text__desc">
                            ОТСКАНИРУЙТЕ<br>
                            ЧЕК В МОБИЛЬНОМ<br>
                            ПРИЛОЖЕНИИ
                        </p>
                    </div>
                </div>
                <div class="rules__item rules__item-3">
                    <img src="/public/img/rules/rules__item-img-3.png" alt="" class="rules__item-img">
                    <div class="rules__item-text">
                        <span class="rules__item-text__number">3</span>
                        <p class="rules__item-text__desc">
                            СТАНЬТЕ<br>
                            УЧАСТНИКОМ<br>
                            РОЗЫГРЫША
                        </p>
                    </div>
                </div>
            </div>
            <a href="/client/registre/client" class="btn btn__text-color__purple btn__bg-color__white">стань
                УЧАСТНИКОМ</a>
        </div>
    </section>

    <section class="prizes" id="prizes">
        <h4 class="title">
            <span class="container-main title_text">Призы</span>
        </h4>
        <div class="prizes__content"></div>
    </section>

    <section id="winners" class="winners">
        <h4 class="title">
            <span class="container-main title_text">Победители</span>
        </h4>
        <div class="winners__container container-main">
            
            <{ View(/LkController/statistic.html) }>
        </div>
        <!-- /.winners -->
    </section>
   



        <section class="frequent-requests" id="questions">
            <h4 class="title">
                <span class="container-main title_text">Частые вопросы</span>
            </h4>
            <!-- /.main-title -->

            <div class="frequent-requests__container container-main">
                <div class="frequent-requests__item">
                    <p class="frequent-requests__question frequent-requests__question">Кто может участвовать в Акции?</p>
                    <!-- /.questions-item__question -->
                    <p class="frequent-requests__answer frequent-requests__answer">
                        Участниками Акции могут являться дееспособные физические лица, достигшие возраста 18 лет, постоянно проживающие на территории Российской Федерации. Участниками не могут быть сотрудники и представители Организатора, аффилированные с Организатором лица, члены их семей, а также работники других юридических лиц, причастных к организации и проведению Акции, и члены их семей.
                    </p>
                    <!-- /.questions-item__answer -->

                </div>
                <!-- /.questions-item -->

                <div class="frequent-requests__item">
                    <p class="frequent-requests__question frequent-requests__question">Как учавствовать ЕЖЕДНЕВНОМ РОЗЫГРЫШЕ?</p>
                    <p class="frequent-requests__answer frequent-requests__answer">
                        Просто пройдите регистрацию и сканируйте чеки из торговых точек партнеров проекта.
                    </p>
                    <!-- /.questions-item__answer -->
                </div>
                <!-- /.questions-item -->

                <div class="frequent-requests__item">
                    <p class="frequent-requests__question frequent-requests__question">Как часто будет происходить розыгрыш?</p>
                    <!-- /.questions-item__question -->
                    <p class="frequent-requests__answer frequent-requests__answer">
                        Розыгрыш призов проводится на постоянной основе. КАЖДЫЙ ДЕНЬ!
                    </p>
                    <!-- /.questions-item__answer -->
                </div>
                <!-- /.questions-item -->

                <div class="frequent-requests__item">
                    <p class="frequent-requests__question frequent-requests__question">Как правильно участвовать в розыгрышах "ПРИЗОВОЙ МОЛНИИ"?</p>
                    <!-- /.questions-item__question -->
                    <p class="frequent-requests__answer frequent-requests__answer">
                        Всё очень просто. "Что бы выиграть в "МОЛНИИ" даже не нужно покупать какой-то билет. Просто отсканируй чек". 
                    </p>
                    <!-- /.questions-item__answer -->
                </div>
                <!-- /.questions-item -->

                <div class="frequent-requests__item">
                    <p class="frequent-requests__question frequent-requests__question">А не разгласите ли Вы мои данные?</p>
                    <!-- /.questions-item__question -->
                    <p class="frequent-requests__answer frequent-requests__answer">
                        Организатор Акции не вправе предоставлять информацию об Участнике Акции третьим лицам, за исключением случаев, предусмотренных законодательством Российской Федерации.
                    </p>
                    <!-- /.questions-item__answer -->
                </div>
                <!-- /.questions-item -->

                <div class="frequent-requests__item">
                    <p class="frequent-requests__question frequent-requests__question">Можно ли поменять номер телефона, если я неправильно его указал?</p>
                    <!-- /.questions-item__question -->
                    <p class="frequent-requests__answer frequent-requests__answer">
                        Нет, номер телефона изменить нельзя. Вы должны будете заново зарегистрироваться в Акции под новым номером телефона.
                    </p>
                    <!-- /.questions-item__answer -->
                </div>
                <!-- /.questions-item -->

                <div class="frequent-requests__item">
                    <p class="frequent-requests__question frequent-requests__question">Как восстановить пароль?</p>
                    <!-- /.questions-item__question -->
                    <p class="frequent-requests__answer frequent-requests__answer">
                        Воспользуйтесь формой восстановления пароля на сайте акции (нажмите «Вход», далее «Восстановить пароль»).
                    </p>
                    <!-- /.questions-item__answer -->
                </div>
                <!-- /.questions-item -->

                <div class="frequent-requests__item">
                    <p class="frequent-requests__question frequent-requests__question">Нужно ли будет оплачивать налоги с приза?</p>
                    <!-- /.questions-item__question -->
                    <p class="frequent-requests__answer frequent-requests__answer">
                        Самому Победителю не придется заполнять налоговые декларации или платить налог, все эти обязательства и расходы берет на себя Организатор.
                    </p>
                    <!-- /.questions-item__answer -->
                </div>
                <!-- /.questions-item -->

                <div class="frequent-requests__item">
                    <p class="frequent-requests__question frequent-requests__question">Как удалить свои данные?</p>
                    <!-- /.questions-item__question -->
                    <p class="frequent-requests__answer frequent-requests__answer">
                        Удалить свои данные вы можете путем направления письменного заявления Почтой России ценным письмом с описью вложения по почтовому адресу Организатора, что влечет автоматическое прекращение участия в Акции лица, отозвавшего свои персональные данные.
                    </p>
                    <!-- /.questions-item__answer -->
                </div>
                <!-- /.questions-item -->

                <div class="frequent-requests__item">
                    <p class="frequent-requests__question frequent-requests__question">Законно ли проводить такой розыгрыш?</p>
                    <!-- /.questions-item__question -->
                    <p class="frequent-requests__answer frequent-requests__answer">
                        Все розыгрыши в нашем сервисе проводятся в соответствии с законодательством РФ. 
                    </p>
                    <!-- /.questions-item__answer -->
                </div>
                <!-- /.questions-item -->

                <div class="frequent-requests__item">
                    <p class="frequent-requests__question frequent-requests__question">Как связаться с Организатором?</p>
                    <!-- /.questions-item__question -->
                    <p class="frequent-requests__answer frequent-requests__answer">
                        С Организатором Вы можете связаться, заполнив форму Обратной связи на сайте или в Личном Кабинете. Организатор предоставить ответ в течение 3 (трех) рабочих дней.
                    </p>
                    <!-- /.questions-item__answer -->
                </div>
                <!-- /.questions-item -->

                <section>
                    <!-- Button trigger modal -->
                    <button type="button" class="frequent-requests__btn" data-toggle="modal" data-target="#exampleModal" style="margin-top: 5em;">
                        Задать вопрос
                    </button>
        
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel">Задать вопрос</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <section class="feedback--wrap" id="feedback">
                                        <div class="card border border-secondary rounded">
                                            <div class="feedback main-container">
                                                <div v-if="msgSend" class="badge-info text-center">
                                                    <h3>Ваше сообщение отправлено</h3>
                                                </div>
                                                <!-- /.feedback-top -->
                                                <form @submit="SendFeedback" action="/index/feedback" class="feedback-form">
        
                                                    <div class="card-body">
                                                        <div class="form-group text-center">
                                                            <h3><label for="feedbackName">ФИО</label></h3>
                                                            <input v-model="message.fio" type="text" class="form-control"
                                                                id="feedbackName" required>
                                                        </div>
                                                        <!-- /.feedback-wrap--input -->
                                                        <div class="form-group text-center">
                                                            <h3><label for="feedbackTel">Телефон</label></h3>
                                                            <input v-model="message.phone" type="tel" class="form-control"
                                                                id="feedbackTel" required>
                                                        </div>
                                                        <!-- /.feedback-wrap--input -->
                                                        <div class="form-group text-center">
                                                            <h3><label for="feedbackEmail">E-mail</label></h3>
                                                            <input v-model="message.email" type="email" class="form-control"
                                                                id="feedbackEmail" required>
                                                        </div>
                                                        <!-- /.feedback-wrap--input -->
                                                        <div class="form-group text-center">
                                                            <h3><label for="feedbackTextarea">Вопрос</label></h3>
                                                            <textarea v-model="message.message" class="form-control"
                                                                id="feedbackTextarea" rows="5" required></textarea>
                                                        </div>
                                                        <!-- /.feedback-wrap--input -->
                                                        <div class="form-group form-check">
        
                                                            <input v-model="BtnSend" class="form-check-input" type="checkbox"
                                                                id="feedbackCheck">
        
                                                            <label class="form-check-label" for="feedbackCheck">Согласие на
                                                                хранение и обработку персональных данных</label>
                                                        </div>
                                                        <!-- /.feedback-wrap--input -->
                                                        <div class="form-group text-center">
                                                            <input type="submit" :disabled="!BtnSend"
                                                                class="form-control btn btn-secondary btl-lg p-0 rounded">
                                                        </div>
                                                        <!-- /.feedback-btn--wrap -->
                                                    </div>
        
                                                </form>
                                                <!-- /.feedback-form -->
                                            </div>
                                            <!-- /.feedback -->
                                        </div>
                                    </section>
                                    <!-- /.feedback--wrap -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </section>


        

        <script type="text/javascript">
            var feedback = new Vue({
                el: '#feedback',
                data: {
                    message: { fio: '', phone: '', email: '', message: '' }, BtnSend: false, msgSend: false
                },
                methods: {
                    SendFeedback(e) {
                        e.preventDefault();
                        fetch('/index/feedback', {
                            mode: 'cors',
                            method: 'POST',
                            body: JSON.stringify(this.message)
                        })
                            .then((response) => {
                                if (response.ok) {
                                    return response.json();
                                }
                                throw new Error('Network response was not ok');
                            })
                            .then((json) => {
                                this.message = { fio: '', phone: '', email: '', message: '' };
                                this.msgSend = true;
                                setTimeout(() => {
                                    this.msgSend = false;
                                    setTimeout(() => {
                                        $('#exampleModal').modal('hide');
                                    }, 500);
                                }, 2000);
                                //MsgBox("Ваше сообщение отправлено");
                                console.log(json);
                            })
                            .catch((error) => {
                                console.log('FormLogin', error);
                            });
                    }
                }
            })
        </script>

        <section class="client-download-app">
            <h4 class="title">
                <span class="container-main title_text">Скачать приложение</span>
            </h4>
            <div class="client-download-app__container container-main">
                <div class="client-download-app__content">
                    <h3 class="client-download-app__title">
                        <span
                            class="client-download-app__title_text-color_black client-download-app__title_size_s">УСТАНОВИ
                            И СКАНИРУЙ ЧЕКИ</span>
                        “ПРИЗОВАЯ МОЛНИЯ”
                    </h3>
                    <div class="client-download-app__content__inner">
                        <div class="client-download-app__links">
                            <a target="_blank"
                                href="https://play.google.com/store/apps/details?id=com.oplanet.lightning&hl=ru"
                                class="client-download-app__links__item google-play"></a>
                            <a target="_blank"
                                href="https://apps.apple.com/ru/app/%D0%BF%D1%80%D0%B8%D0%B7%D0%BE%D0%B2%D0%B0%D1%8F-%D0%BC%D0%BE%D0%BB%D0%BD%D0%B8%D1%8F/id1459626313"
                                class="client-download-app__links__item app-store"></a>
                        </div>
                        <div class="client-download-app__jackpot">
                            <img src="/public/img/client-download-app/client-download-app__jackpot__img.png" alt=""
                                class="client-download-app__jackpot__img">
                            <span class="client-download-app__jackpot__text">300 000 </span>
                        </div>
                    </div>
                    <div class="client-download-app__timer">
                        <p class="client-download-app__timer__text">до розыгрыша осталось:</p>
                        <div class="eTimer"></div>
                    </div>

                </div>
                <img src="/public/img/client-download-app/client-download-app__phone.png" alt=""
                    class="client-download-app__phone">
            </div>
        </section>


        <section class="our-partners">
            <h4 class="title">
                <span class="container-main title_text">Наши партнёры</span>
            </h4>
            
            <{ View(/LkController/map.html) }>
        
            
        </section>
        <!-- /.partnersLink--wrap -->
</main>
<!-- /.main -->


<footer class="footer">
    <div class="footer__container container-main">
        <div class="footer__item footer__item-left">
            <div class="footer__contacts">
                <a href="tel:+79370327131" class="footer__tel">7(937) 032-71-31</a>
                <a href="mailto:info@mylightning.ru" class="footer__mail">info@mylightning.ru</a>
            </div>
            <div class="footer__docs">
                <a href="/public/uploads/dogovor.docx" download class="footer__docs__item">Скачать договор</a>
                <a href="/public/uploads/presents.pdf" class="footer__docs__item">Скачать презентацию</a>
                <p class="footer__docs__text">Официальный сайт компании “Призовая молния”</p>
            </div>
        </div>

        <div class="footer__item footer__item-center">
            <a href="/" class="footer__logo-wrap">
                <img src="/public/img/footer/footer__logo.png" alt="" class="footer__logo">
            </a>
            <div class="footer__download">
                <p class="footer__download__title">СКАЧАЙТЕ ПРИЛОЖЕНИЕ<br>“ПРИЗОВАЯ МОЛНИЯ” на ваше устройство</p>
                <div class="footer__download__items-wrap">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.oplanet.lightning&hl=ru"
                        class="footer__download__item google-play"></a>
                    <a target="_blank"
                        href="https://apps.apple.com/ru/app/%D0%BF%D1%80%D0%B8%D0%B7%D0%BE%D0%B2%D0%B0%D1%8F-%D0%BC%D0%BE%D0%BB%D0%BD%D0%B8%D1%8F/id1459626313"
                        class="footer__download__item app-store"></a>
                </div>
            </div>
        </div>

        <div class="footer__item footer__item-right">
            <div class="footer__socials">
                <a target="_blank" href="https://www.instagram.com/prizovaiamolniia/"
                    class="footer__socials__item instagram">prizovaiamolniia</a>
                <a target="_blank" href="https://vk.com/prizovaya_molniya"
                    class="footer__socials__item vkontakte">prizovaya_molniya</a>
            </div>
            <div class="footer__agatech">
                <p class="footer__agatech__text">Создание сайтов, техническая поддержка</p>
                <a href="https://agatech.ru">
                    <img src="/public/img/footer/footer__agatech__img.png" alt="" class="footer__agatech__img">
                </a>
            </div>
        </div>
    </div>
</footer>

<script src="/public/js/jquery-3.4.1.min.js"></script>
<script src="https://e-timer.ru/js/etimer.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery(".eTimer").eTimer({
            etType: 0, etDate: "<{ raffletime }>", etTitleText: "До розыгрыша осталось:", etShowSign: 1, etSep: ":", etLastUnit: 4
        });
    });
</script>
<script src="/public/js/main.min.js"></script>
<!--<script src="/public/js/partners.js"></script>-->
<script src="/public/js/scrollAnimationClients.js"></script>