/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #9400FF;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 10000;
    left: 50%;
    top: 30%;
    font-family: "Museo Sans 900";
    box-shadow: 0 0 10px #fff;
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@font-face {
    font-family: "Museo Sans 300";
    src: url("../fonts/MuseoSansCyrl_300.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans 500";
    src: url("../fonts/MuseoSansCyrl_500.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans 700";
    src: url("../fonts/MuseoSansCyrl_700.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans 900";
    src: url("../fonts/MuseoSansCyrl_900.otf");
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}
body {
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
}


/* .loader {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 8px solid #162534;
    border-top: 8px solid #09f;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
} */


/* 
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
} */

::selection {
    color: #fff;
    background-color: #444;
}

body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: #e1e1e1;
}

body::-webkit-scrollbar-thumb {
    background-color: #9A9A9A;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

button,
input {
    outline: none;
}

.personalAccount-header {
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    z-index: 99;
}
.personalAccount-header__container {
    width: 1800px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}
.personalAccount-header__img--wrap {
    width: 210px;
}
.personalAccount-header__img--wrap img {
    width: 80%;
}
.personalAccount-header__content {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 6em;
}
.personalAccount-header__content-info {
    flex-basis: 30%;
    background-color: #FFD900;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 2em;
    padding: .7em 2em;
}
.header__content-info__data {
    font-family: 'Museo Sans 900';
    color: #000;
    font-size: .8em;
    line-height: 1em;
}
.header__content-info__username {
    color: #000;
    font-family: 'Museo Sans 300';
    line-height: 1em;
}
.header__content-info__username span {
    font-family: 'Museo Sans 900';
}
.personalAccount-header__content-tarrifs {
    flex-basis: 30%;
    background-color: #9400FF;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 2em;
    padding: .7em 2em;
}
.header__content-tarrifs__name {
    font-family: 'Museo Sans 300';
    color: #fff;
    line-height: 1.1em;
}
.header__content-tarrifs__name span {
    font-family: 'Museo Sans 900';
}
.header__content-tarrifs__period {
    font-family: 'Museo Sans 300';
    color: #fff;
    font-size: .8em;
    line-height: 1em;
}
.header__content-tarrifs__period span {
    font-family: 'Museo Sans 900';
}
.personalAccount-header__content-count {
    flex-basis: 40%;
    background-color: #FFD900;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
}
.personalAccount-header__content-count__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: .7em 2em;
}

.header__content-count__left-title {
    font-family: 'Museo Sans 300';
    color: #000;
    line-height: .9em;
}
.header__content-count__left-num {
    font-family: 'Museo Sans 900';
    color: #000;
    font-size: 1.2em;
    line-height: 1em;
}
.personalAccount-header__content-count__btn {
    font-family: 'Museo Sans 700';
    background-color: #9400FF;
    border: none;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #fff;
    font-size: 0.8em;
    line-height: 1em;
    padding: .9em 1.8em;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid #9400FF;
    transition: all .6s;
}
.personalAccount-header__content-count__btn:hover {
    background-color: #fff;
    color: #9400FF;
}
.personalAccount-header .personalAccount-header__exit {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.personalAccount-header .personalAccount-header__exit a {
    font-family: 'Museo Sans 500';
    position: relative;
    color: #9400FF;
    font-size: 1.6em;
    line-height: 1em;
    height: 1.5em;
    display: flex;
    align-items: center;
    transform: translateX(-1em);
}
.personalAccount-header .personalAccount-header__exit a::before {
    content: '';
    position: absolute;
    right: -2em;
    background-image: url(../img/personalAccount/exit.png);
    background-size: 100% 100%;
    width: 1.5em;
    height: 1.5em;
    transition: all .7s ease-in-out;
}
.personalAccount-header .personalAccount-header__exit a::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: .05em;
    background-color: #9400FF;
    transition: all .7s;
}
.personalAccount-header .personalAccount-header__exit a:hover::after {
    width: 100%;
}
.personalAccount-header .personalAccount-header__exit a:hover::before {
    transform: rotateY(180deg);
}

.personalAccount-main {
    width: 100%;
    padding-top: 100px;
    min-height: calc(100vh - 100px);
    display: flex;
}
.partners-navigation, .clients-navigation {
    width: 330px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 99;
    height: calc(100vh - 100px);
    font-size: 10px;
    padding: 1.5em;
}
.partners-navigation {
    background-image: url(/public/img/personalAccount/partners-navigation-bgc.png);
}
.clients-navigation {
    background-image: url(/public/img/personalAccount/clients-navigation-bgc.png);
}
.partners-navigation button, .clients-navigation button {
    width: 100%;
    height: 60px;
    margin-bottom: .6em;
    border: 1px solid #fff;
    border-radius: .3em;
    font-family: "Museo Sans 900";
    font-size: 1.5em;
    line-height: 1em;
    padding: 0 1em;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.7s ease-in-out;
}
.partners-navigation button {
    background-color: #9400FF;
    box-shadow: 2px 2px 4px #490093;
    color: #fff;
}
.clients-navigation button {
    background-color: #FFD900;
    box-shadow: 2px 2px 4px #A38D00;
    color: #000;
}
.partners-navigation .active {
    background-color: #FFD900;
    color: #000;
}
.partners-navigation .active:hover {
    background-color: #FFD900;
}
.partners-navigation .active:hover::before {
    width: 100%;
}
.clients-navigation .active {
    background-color: #9400FF;
    color: #fff;
}
.clients-navigation .active:hover {
    background-color: #9400FF;
}
.clients-navigation .active:hover::before {
    width: 100%;
}
.clients-navigation button::before, .partners-navigation button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
    z-index: -1;
    transition: all 0.7s ease-in;
}
.clients-navigation button::before {
    background-color: rgba(0, 0, 0, 0.1);
}
.partners-navigation button::before {
    background-color: rgba(255, 255, 255, 0.1);
}
.partners-navigation button:hover {
    background-color: transparent;
}
.partners-navigation button:hover::before {
    width: 250%;
}
.clients-navigation button:hover {
    background-color: transparent;
}
.clients-navigation button:hover::before {
    width: 250%;
}
.partners-navigation__img_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
}
.partners-navigation__img_wrap a {
    width: 70%;   
    text-align: center;
}
.partners-navigation__img {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}
.partners-content-bgc {
    background-image: url(../img/personalAccount/partners-content-bgc.png);
}
.clients-content-bgc {
    background-image: url(../img/personalAccount/clients-content-bgc.png);
}
.personalAccount-content {
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 100px);
    margin-left: 330px;
}
#client,
#partner,
#Checks,
#admin,
#moderator,
#winnersw {
    padding: 2em 5em;
    font-size: 10px;
}
.content-title--wrap {
    width: 100%;
    display: flex;
    align-items: flex-end;
    font-size: 2.4em;
    margin-bottom: 2em;
}
.content-title {
    font-family: "Museo Sans 900";
    color: #000;
    font-size: 1em;
    line-height: 1em;
    margin-right: 1em;
}
.content-title--wrap span {
    flex-grow: 1;
    position: relative;
}
.content-title--wrap span::before, .content-title--wrap span::after {
    content: "";
    position: absolute;
    bottom: 0px;
    height: .05em;
    background-color: #9400FF;
}
.content-title--wrap span::before {
    width: 100%;
    left: 0;
    animation: contentLinePurple 4s linear;
}
.content-title--wrap span::after {
    right: 0;
    width: 0%;
    animation: contentLineBlack 4s linear;
}
.content-dataChange {
    display: flex;
    font-size: 1.8em;
    margin-bottom: 2em;
}
.content-dataChange__titles {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-right: 2em;
}
.content-dataChange__titles span {
    font-family: "Museo Sans 300";
    color: #000;
    line-height: 1em;
    height: 2em;
    margin-bottom: .5em;
    display: flex;
    align-items: center;
}
.content-dataChange__form {
    display: flex;
    flex-direction: column;
    width: 350px;
}
.content-dataChange__form input, .content-dataChange__form select, .content-dataChange__form textarea {
    width: 100%;
    height: 2em;
    margin-bottom: .5em;
    border: 2px solid #9400FF;
    border-radius: .25em;
    padding: .25em .5em;
    outline: none;
    font-family: "Museo Sans 500";
    color: #9400FF;
    line-height: 1em;
}
.content-dataChange__form textarea {
    height: 200px;
}
.content-dataChange__form input::placeholder, .content-dataChange__form select::placeholder, .content-dataChange__form textarea {
    color: #777;
    font-family: "Museo Sans 300";
}
.content-dataChange__form input[type=submit] {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    background-image: url(/public/img/personalAccount/save-btn.png);
    background-size: 100% 100%;
    width: 335px;
    height: 122px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Russo One";
    line-height: 1em;
    letter-spacing: .1em;
    transition: all 0.2s;
}
.content-dataChange__form input[type=submit]:hover {
    transform: scale(0.95);
}
@keyframes contentLinePurple {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes contentLineBlack {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.btn-kkm {
    font-family: 'Museo Sans 500';
    font-size: 1em !important;
    line-height: 1em;
    margin-right: 1em;
}
.btn-purple-lk {
    background-color: #9400FF;
    color: #fff;
    border: 1px solid #9400FF;
}
.btn-yellow-lk {
    background-color: #FFD900;
    color: #000;
    font-family: 'Museo Sans 500';
}
.btn-purple-lk:hover {
    color: #fff;
}
.table-lk {
    font-family: 'Museo Sans 500';
    color: #000;
}
.table-lk th,
.table-lk td {
    border: none !important;
}
.table-lk thead {
    background-color: #FFD900;
    text-transform: uppercase;
    font-family: 'Museo Sans 900';
}
.table-lk th {
    white-space: nowrap;
    font-size: .8em;
}
.table-lk td {
    font-size: .8em;
}
.btn-kkm-table {
    font-size: 1.2em !important;
}
.chekstat-statistic {
    font-family: 'Museo Sans 500';
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.8em;
}
.chekstat-statistic__count {
    font-size: 1em !important;
}
.chekstat-statistic-purple-item {
    background-color: #9400FF;
    color: #fff;
    border: 1px solid #9400FF;
    font-family: 'Museo Sans 500';
    font-size: 1em !important;
}
.chekstat-statistic-purple-input {
    border: 1px solid #9400FF;
    font-family: 'Museo Sans 500';
    box-sizing: border-box;
    color: #9400FF;
    font-size: 1em !important;
}
.chekstat-statistic__btn {
    font-size: 1em !important;
}


.table-lk .bg-danger,
.table-lk .bg-success,
.table-lk .bg-warning {
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Museo Sans 900';
    padding-right: 2em;
    white-space: nowrap;
}
.table-lk .bg-danger {
    background-color: rgba(202, 0, 25, .2) !important;
}
.table-lk .bg-success {
    background-color: rgba(32, 202, 71, .2) !important;
}
.table-lk .bg-warning {
    background-color: rgba(255, 202, 71, .2) !important;
}
.table-lk .bg-danger::before,
.table-lk .bg-success::before,
.table-lk .bg-warning::before {
    content: '';
    position: absolute;
    right: 1em;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    animation: statusCircle 2s linear infinite;
}
.table-lk .bg-danger::before {
    background-color: #CA0019;
}
.table-lk .bg-success::before {
    background-color: #20CA47;
}
.table-lk .bg-warning::before {
    background-color: #FFCA47;
}
.btn-purple-lk-main {
    background-color: #fff;
    color: #9400FF;
    border: 1px solid #9400FF;
    font-size: 14px;
    line-height: 1em;
    font-family: 'Museo Sans 900';
}
.btn-purple-lk-main:hover {
    color: #9400FF;
}
@keyframes statusCircle {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.7);
    }
}
.manybaloon {
    background-color: #9400FF;
    width: 100%;
    padding: 1em;
    color: #fff;
}

.manybaloon h4 {
    font-family: 'Museo Sans 900';
    font-size: 24px;
    line-height: 1.2em;
}

.manybaloon ul {
    list-style-type: none;
    font-style: italic;
    font-family: 'Museo Sans 500';
}

.manybaloon li {
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    line-height: 1.2em;
    margin-bottom: 0.5em;
}

.manybaloon li::before {
    content: '-';
    position: absolute;
    left: 0;
    color: #fff;
    font-size: 16px;
    line-height: 1.2em;
}

ymaps [class$="balloon__layout"] {
    background-color: #9400FF;
}

ymaps [class$="balloon__content"] {
    background-color: #9400FF;
}

ymaps [class$="balloon__tail"]::after {
    background-color: #9400FF;
}

ymaps [class$="balloon__close-button"] {
    background-image: url(/public/img/ymap-cross.png);
    opacity: 1;
    background-size: 25px 25px;
    background-position: left center;
}
.WordSection1 {
    padding: 1em;
    font-size: 1.8em;
}
.modal-dialog .modal-content {
    background-color: #FFCA47;

}
.modal-header {
    border-bottom: 3px solid #9400FF;
}
.modal-title {
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}
.modal-body {
    padding: 3rem;
}
.text-center label{
    font-size: 1.6em;
    margin-bottom: 1em;
}
.custom-select {
    font-size: 1.3em;
    background-color: #9400FF !important;
    color: #fff !important;
    padding-left: 1em;
}
.form-control {
    font-size: 1.3em;
    background-color: #9400FF !important;
    color: #fff !important;
    padding: 1em;
}
.form-control::placeholder {
    color: #fff;
}
.modal__btn {
    font-size: 1.4em !important;
    margin-top: 1em;
    background-color: #9400FF;
}



.not-checks-lk {
    color: #000;
    font-family: 'Museo Sans 900';
    text-transform: uppercase;
    font-size: 2em;
}
.setting-lk-item {
    background-color: #9400FF;
    padding: 10px 15px;
    border-radius: .5em;
    margin-right: 15px;
}
.setting-lk-item label {
    color: #fff;
    font-size: 16px;
    line-height: 1em;
    font-family: 'Museo Sans 900';
}
.setting-lk-btn {
    background-color: #9400FF;
    color: #fff;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 0 .5em .5em 0;
    font-family: 'Museo Sans 500';
    transition: all .5s;
    outline: none;
}
.setting-lk-btn:hover {
    background-color: #fff;
    color: #9400FF;
}
.ca {
    width: 100%;
}
.icon-teble-lk {
    color: #9400FF !important;
}





@media (max-width: 1800px) {
    .personalAccount-header {
        height: 90px;
    }
    .personalAccount-header__container {
        width: 1500px;
        /* justify-content: space-between;
        align-items: center; */
    }
    .personalAccount-header__img--wrap {
        width: 180px;
    }
    .personalAccount-header__img--wrap img {
        width: 85%;
    }
    .personalAccount-header__content {
        /* justify-content: space-between;
        align-items: center; */
        margin: 0 5em;
    }
    .personalAccount-header__content-info {
        /* flex-basis: 30%; */
        font-size: 1.8em;
        /* padding: .7em 2em; */
    }
    .personalAccount-header__content-tarrifs {
        /* flex-basis: 30%; */
        font-size: 1.8em;
        /* padding: .7em 2em; */
    }
    .personalAccount-header__content-count {
        flex-basis: 40%;
        /* justify-content: space-between;
        align-items: center; */
        font-size: 1.8em;
    }
    /* .personalAccount-header__content-count__left { */
        /* flex-direction: column;
        justify-content: space-between;
        align-items: flex-start; */
        /* padding: .7em 2em; */
    /* } */
    /* .personalAccount-header .personalAccount-header__exit {
        justify-content: center;
        align-items: center;
    } */
    .personalAccount-header .personalAccount-header__exit a {
        font-size: 1.45em;
    }
    .personalAccount-main {
        padding-top: 90px;
        min-height: calc(100vh - 90px);
    }
    .partners-navigation, .clients-navigation {
        width: 280px;
        padding: 1.3em;
        height: calc(100vh - 90px);
    }
    .partners-navigation button, .clients-navigation button {
        height: 50px;
        font-size: 1.35em;
    }
    .partners-navigation__img_wrap {
        margin-top: 2.8em;
    }
    /* .partners-navigation__img_wrap a {
        width: 70%;   
    } */
    .partners-navigation__img {
        margin-bottom: 1.8em;
    }
    .personalAccount-content {
        min-height: calc(100vh - 90px);
        margin-left: 280px;
    }
    #client,
    #partner,
    #Checks,
    #admin,
    #moderator,
    #winnersw  {
        padding: 1.9em 4.6em;
    }
    .content-title--wrap {
        font-size: 2.2em;
    }
    .content-dataChange {
        font-size: 1.7em;
    }
    /* .content-dataChange__titles {
        width: 250px;
        margin-right: 2em;
    } */
    /* .content-dataChange__form {
        width: 350px;
    } */
    .content-dataChange__form textarea {
        height: 180px;
    }
    .content-dataChange__form input[type=submit] {
        width: 300px;
        height: 115px;
    }
    .chekstat-statistic {
        font-size: 1.6em;
    }
    .WordSection1 {
        font-size: 1.7em;
    }
    .modal-title {
        font-size: 1.5em;
    }
    .modal-body {
        padding: 2.5rem;
    }
    .text-center label{
        font-size: 1.5em;
    }
    .custom-select {
        font-size: 1.25em;
    }
    .form-control {
        font-size: 1.25em;
    }
    .modal__btn {
        font-size: 1.3em !important;
    }
}

@media (max-width: 1600px) {
    .personalAccount-header {
        height: 85px;
    }
    .personalAccount-header__container {
        width: 1300px;
        /* justify-content: space-between;
        align-items: center; */
    }
    .personalAccount-header__img--wrap {
        width: 165px;
    }
    .personalAccount-header__img--wrap img {
        width: 90%;
    }
    .personalAccount-header__content {
        /* justify-content: space-between;
        align-items: center; */
        margin: 0 4em;
    }
    .personalAccount-header__content-info {
        /* flex-basis: 30%; */
        font-size: 1.7em;
        /* padding: .7em 2em; */
    }
    .personalAccount-header__content-tarrifs {
        /* flex-basis: 30%; */
        font-size: 1.7em;
        /* padding: .7em 2em; */
    }
    .personalAccount-header__content-count {
        /* flex-basis: 40%; */
        /* justify-content: space-between;
        align-items: center; */
        font-size: 1.7em;
    }
    /* .personalAccount-header__content-count__left { */
        /* flex-direction: column;
        justify-content: space-between;
        align-items: flex-start; */
        /* padding: .7em 2em; */
    /* } */
    /* .personalAccount-header .personalAccount-header__exit {
        justify-content: center;
        align-items: center;
    } */
    .personalAccount-header .personalAccount-header__exit a {
        font-size: 1.3em;
    }
    .personalAccount-main {
        padding-top: 85px;
        min-height: calc(100vh - 85px);
    }
    .partners-navigation, .clients-navigation {
        width: 257px;
        padding: 1.2em;
        height: calc(100vh - 85px);
    }
    .partners-navigation button, .clients-navigation button {
        height: 45px;
        font-size: 1.2em;
    }
    .partners-navigation__img_wrap {
        margin-top: 2.6em;
    }
    /* .partners-navigation__img_wrap a {
        width: 70%;   
    } */
    .partners-navigation__img {
        margin-bottom: 1.6em;
    }
    .personalAccount-content {
        min-height: calc(100vh - 85px);
        margin-left: 260px;
    }
    #client,
    #partner,
    #Checks,
    #admin,
    #moderator,
    #winnersw  {
        padding: 1.8em 4.2em;
    }
    .content-title--wrap {
        font-size: 2em;
    }
    .content-dataChange {
        font-size: 1.6em;
    }
    /* .content-dataChange__titles {
        width: 250px;
        margin-right: 2em;
    } */
    /* .content-dataChange__form {
        width: 350px;
    } */
    .content-dataChange__form textarea {
        height: 160px;
    }
    /* .content-dataChange__form input[type=submit] {
        width: 300px;
        height: 115px;
    } */
    .chekstat-statistic {
        font-size: 1.45em;
    }
    .WordSection1 {
        font-size: 1.6em;
    }
    .modal-title {
        font-size: 1.4em;
    }
    .modal-body {
        padding: 2.2rem;
    }
    .text-center label{
        font-size: 1.4em;
    }
    .custom-select {
        font-size: 1.15em;
    }
    .form-control {
        font-size: 1.15em;
    }
    .modal__btn {
        font-size: 1.2em !important;
    }
}
@media (max-width: 1400px) {
    .personalAccount-header {
        height: 80px;
    }
    .personalAccount-header__container {
        width: 1150px;
        /* justify-content: space-between;
        align-items: center; */
    }
    .personalAccount-header__img--wrap {
        width: 150px;
    }
    .personalAccount-header__img--wrap img {
        width: 95%;
    }
    .personalAccount-header__content {
        /* justify-content: space-between;
        align-items: center; */
        margin: 0 3em;
    }
    .personalAccount-header__content-info {
        /* flex-basis: 30%; */
        font-size: 1.5em;
        /* padding: .7em 2em; */
    }
    .personalAccount-header__content-tarrifs {
        /* flex-basis: 30%; */
        font-size: 1.5em;
        /* padding: .7em 2em; */
    }
    .personalAccount-header__content-count {
        /* flex-basis: 40%; */
        /* justify-content: space-between;
        align-items: center; */
        font-size: 1.5em;
    }
    /* .personalAccount-header__content-count__left { */
        /* flex-direction: column;
        justify-content: space-between;
        align-items: flex-start; */
        /* padding: .7em 2em; */
    /* } */
    /* .personalAccount-header .personalAccount-header__exit {
        justify-content: center;
        align-items: center;
    } */
    .personalAccount-header .personalAccount-header__exit a {
        font-size: 1.2em;
    }
    .personalAccount-main {
        padding-top: 80px;
        min-height: calc(100vh - 80px);
    }
    .partners-navigation, .clients-navigation {
        width: 205px;
        padding: 1.1em;
        height: calc(100vh - 80px);
    }
    .partners-navigation button, .clients-navigation button {
        height: 35px;
        font-size: 1.1em;
    }
    .partners-navigation__img_wrap {
        margin-top: 2.2em;
    }
    .partners-navigation__img_wrap a {
        width: 90%;   
    }
    .partners-navigation__img {
        margin-bottom: 1.4em;
    }
    .personalAccount-content {
        min-height: calc(100vh - 80px);
        margin-left: 205px;
    }
    #client,
    #partner,
    #Checks,
    #admin,
    #moderator,
    #winnersw  {
        padding: 1.7em 3.8em;
    }
    .content-title--wrap {
        font-size: 2em;
    }
    .content-dataChange {
        font-size: 1.4em;
    }
    .content-dataChange__titles {
        width: 200px;
        /* margin-right: 2em; */
    } 
    .content-dataChange__form {
        width: 300px;
    }
    .content-dataChange__form textarea {
        height: 140px;
    }
    /* .content-dataChange__form input[type=submit] {
        width: 300px;
        height: 115px;
    } */
    .chekstat-statistic {
        font-size: 1.3em;
    }
    .WordSection1 {
        font-size: 1.4em;
    }
    .modal-title {
        font-size: 1.3em;
    }
    .modal-body {
        padding: 2rem;
    }
    .text-center label{
        font-size: 1.3em;
    }
    .custom-select {
        font-size: 1.1em;
    }
    .form-control {
        font-size: 1.1em;
    }
    .modal__btn {
        font-size: 1.1em !important;
    }
}

@media (max-width: 1200px) {
    .personalAccount-header {
        height: 75px;
    }
    .personalAccount-header__container {
        width: 950px;
        /* justify-content: space-between;
        align-items: center; */
    }
    .personalAccount-header__img--wrap {
        width: 130px;
    }
    .personalAccount-header__img--wrap img {
        width: 100%;
    }
    /* .personalAccount-header__content { */
        /* justify-content: space-between;
        align-items: center; */
        /* margin: 0 3em; */
    /* } */
    .personalAccount-header__content-info {
        /* flex-basis: 30%; */
        font-size: 1.3em;
        padding: .7em 1em; 
    }
    .personalAccount-header__content-tarrifs {
        /* flex-basis: 30%; */
        font-size: 1.3em;
        padding: .7em 1em; 
    }
    .personalAccount-header__content-count {
        /* flex-basis: 40%; */
        /* justify-content: space-between;
        align-items: center; */
        font-size: 1.3em;
    }
    .personalAccount-header__content-count__left { 
        /* flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;  */
         padding: .7em 1em; 
     } 
    /* .personalAccount-header .personalAccount-header__exit {
        justify-content: center;
        align-items: center;
    } */
    .personalAccount-header .personalAccount-header__exit a {
        font-size: 1.1em;
    }
    .personalAccount-main {
        padding-top: 75px;
        min-height: calc(100vh - 75px);
    }
    .partners-navigation, .clients-navigation {
        width: 190px;
        padding: 1em;
        height: calc(100vh - 75px);
    }
    .partners-navigation button, .clients-navigation button {
        height: 30px;
        font-size: 1.0em;
    }
    .partners-navigation__img_wrap {
        margin-top: 2em;
    }
    .partners-navigation__img_wrap a {
        width: 95%;   
    }
    .partners-navigation__img {
        margin-bottom: 1.2em;
    }
    .personalAccount-content {
        min-height: calc(100vh - 75px);
        margin-left: 190px;
    }
    #client,
    #partner,
    #Checks,
    #admin,
    #moderator,
    #winnersw  {
        padding: 1.6em 3.4em;
    }
    .content-title--wrap {
        font-size: 1.8em;
    }
    .content-dataChange {
        font-size: 1.3em;
    }
    .content-dataChange__titles {
        width: 180px;
        /* margin-right: 2em; */
    } 
    .content-dataChange__form {
        width: 260px;
    }
    .content-dataChange__form textarea {
        height: 120px;
    }
    .content-dataChange__form input[type=submit] {
        width: 260px;
        height: 105px;
    }
    .chekstat-statistic {
        font-size: 1.15em;
    }
    .WordSection1 {
        font-size: 1.3em;
    }
    .modal-title {
        font-size: 1.2em;
    }
    .modal-body {
        padding: 1.7rem;
    }
    .text-center label{
        font-size: 1.2em;
    }
    .custom-select {
        font-size: 1.05em;
    }
    .form-control {
        font-size: 1.05em;
    }
    .modal__btn {
        font-size: 1.05em !important;
    }
}
@media (max-width: 1000px) {
    .personalAccount-header {
        height: 70px;
    }
    .personalAccount-header__container {
        width: 750px;
        /* justify-content: space-between;
        align-items: center; */
    }
    .personalAccount-header__img--wrap {
        width: 110px;
    }
    /* .personalAccount-header__content { */
        /* justify-content: space-between;
        align-items: center; */
        /* margin: 0 3em; */
    /* } */
    .personalAccount-header__content-info {
        flex-basis: 20%;
        font-size: 1.15em;
        /* padding: .7em 1em;  */
    }
    .personalAccount-header__content-tarrifs {
        flex-basis: 35%;
        font-size: 1.15em;
        /* padding: .7em 1em;  */
    }
    .personalAccount-header__content-count {
        flex-basis: 45%;
        /* justify-content: space-between;
        align-items: center; */
        font-size: 1.15em;
    }
    .personalAccount-header__content-count__left { 
        /* flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;  */
         padding: .7em 1em; 
     } 
    /* .personalAccount-header .personalAccount-header__exit {
        justify-content: center;
        align-items: center;
    } */
    .personalAccount-header .personalAccount-header__exit a {
        font-size: 1em;
    }
    .personalAccount-main {
        padding-top: 70px;
        min-height: calc(100vh - 70px);
    }
    .partners-navigation, .clients-navigation {
        width: 165px;
        padding: .8em;
        height: calc(100vh - 70px);
    }
    .partners-navigation button, .clients-navigation button {
        height: 25px;
        font-size: 0.8em;
    }
    .partners-navigation__img_wrap {
        margin-top: 1.8em;
    }
    .partners-navigation__img_wrap a {
        width: 95%;   
    }
    .partners-navigation__img {
        margin-bottom: 1em;
    }
    .personalAccount-content {
        min-height: calc(100vh - 70px);
        margin-left: 165px;
    }
    #client,
    #partner,
    #Checks,
    #admin,
    #moderator,
    #winnersw  {
        padding: 1.5em 3em;
    }
    .content-title--wrap {
        font-size: 1.6em;
    }
    .content-dataChange {
        font-size: 1.1em;
    }
    .content-dataChange__titles {
        width: 150px;
        /* margin-right: 2em; */
    } 
    .content-dataChange__form {
        width: 200px;
    }
    .content-dataChange__form textarea {
        height: 100px;
    }
    .content-dataChange__form input[type=submit] {
        width: 200px;
        height: 85px;
    }
    .chekstat-statistic {
        font-size: .8em;
    }
    .WordSection1 {
        font-size: 1.1em;
    }
    .modal-title {
        font-size: 1.1em;
    }
    .modal-body {
        padding: 1.5rem;
    }
    .text-center label{
        font-size: 1.1em;
    }
    .custom-select {
        font-size: 1em;
    }
    .form-control {
        font-size: 1em;
    }
    .modal__btn {
        font-size: 1em !important;
    }
}

@media (max-width: 800px) {
    body {
        overflow-x: scroll !important;
    }
    .personalAccount-header,
    .personalAccount-main {
        width: 800px;
    }
}

