<div id="forgotpassword">
    <form v-if="state===0" @submit="sendForm" class="text-center border border-light p-5" style="width: 500px;">

        <p class="h4 mb-4">Восстановить пароль</p>

        <!-- Email -->
        <input v-model="Data.password" type="password" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="пароль" required>

        <!-- Password -->
        <input v-model="Data.fpassword" type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="повторите пароль" required>



        <!-- Sign in button -->
        <button v-if="Data.password===Data.fpassword && Data.password !=''" class="btn btn-info btn-block my-4" type="submit">Восстановить</button>

    </form>
    <div v-if="state===1">
        <p>Пароль успешно изменен</p>
        <a href="/lk/">войти в личный кабинет с новым паролем</a>
    </div>
</div>
<!-- Default form login -->
<script type="text/javascript">
var forgotpassword = new Vue({
  el: '#forgotpassword',
  data: {
    Data: {password:'',fpassword:'',code:'<{ code }>',userid:'<{ userid }>'},
    
    state:0,
    error:false
  },
  methods: {
      sendForm(e){
            e.preventDefault();
            fetch( '/user/setpassword',{
            mode: 'cors',
            method: 'POST',
            body: JSON.stringify(this.Data)
            })
            .then((response) => {
                            if (response.redirected) {
                                window.location.href = response.url;
                                return false;
                            }
                            if (response.ok) {
                                return response.json();
                            }
                            throw new Error('Network response was not ok');
                        })
                        .then((json) => {
                            if (json.hasOwnProperty('success')) {
                                this.state = 1;
                            } else {
                                this.state = 3;
                                this.error = json.error;
                                console.log(json);
                            }


                        })
                        .catch((error) => {
                            this.error = error;
                            console.log('log passwd', error);
                        });

            },
            SetState(st) {
                this.state = st;
                this.error = false;
            }
        }
    })
</script>