<div id="forgotpassword">
    <header class="headerReg">
        <a href="/">
            <img src="/public/img/registration/logo.png" alt="logo">
        </a>
        <h2 class="headerReg-title">восстановление пароля</h2>
    </header>

    <main v-if="state==0" class="mainReg">
        <form action="user/forgotpassword" class="mainAuth-form" @submit="sendForm">
            <h6 class="mainAuth-form__title">Введите учетные данные</h6>
            <label class="mainAuth-for__input--wrap">
                <span>Введите e-mail</span>
                <input v-model="FormData" type="email">
            </label> 
            <input type="submit" value="Отправить">
        </form>
    </main>


    <main v-if="state==1" class="mainReg">
        <h6 class="recoveryPasswordStep2-title">
            проверте указанную вами почту.
        </h6>
        <a class="recoveryPasswordStep2-link" href="/user/login">Авторизация</a>
    </main>
    <main v-if="error" class="mainReg">
        <h6 class="recoveryPasswordStep2-title">
            {{ error }}
        </h6>
        <a @click.prevent="SetState(0)" class="recoveryPasswordStep2-link" href="/user/login">Подтвердить</a>
    </main>
</div>
<script type="text/javascript">
var forgotpassword = new Vue({
  el: '#forgotpassword',
  data: {
    FormData: '',
    state:0,
    error:false
  },
  methods: {
      sendForm(e){
            e.preventDefault();
            if(this.FormData.length<3){
                this.state=3;
                this.error='Введите ваш e-mail адресс электронной почты';
                return;
            }
            fetch( '/user/forgotpassword',{
            mode: 'cors',
            method: 'POST',
            body: JSON.stringify({email:this.FormData})
            })
            .then((response) => {
                if(response.redirected){
                    window.location.href=response.url;
                    return false;
                }
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Network response was not ok');
            })
            .then((json) => {
                if(json.hasOwnProperty('success')){
                    this.state=1;
                }else{
                    this.state=3;
                    this.error=json.error;
                    console.log(json);
                }
                
                
            })
            .catch((error) => {
                this.error=error;
                console.log('log passwd', error);
            });
          
      },
      SetState(st){
        this.state=st;
        this.error=false;
      }
  }
})
</script>