<!-- Modal -->
<div class="container">
<div class="modal" id="FeedbackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
aria-hidden="true">

<!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
<div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content" style="background-color: silver;">
        <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLongTitle">Техническая поддержка</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body" id="feedback">
            <form class="text-center" @submit="SendFeedback" action="/index/feedback">
                <label>Причина вашего обращения?</label>
                <select v-model="subst" class="browser-default custom-select mb-4 rounded-0">
                    <option value="" disabled>Укажите</option>
                    <option value="Обратная связь" selected>Обратная связь</option>
                    <option value="Ошибка в личном кабинете">Ошибка в личном кабинете</option>
                    <option value="Ошибка приложения">Ошибка приложения</option>
                    <option value="Другое">Другое...</option>
                </select>
                <!-- Message -->
                <div class="form-group">
                    <textarea :disabled="subst===''" v-model="message.message" class="form-control rounded-0"
                    id="exampleFormControlTextarea2" rows="6" placeholder="Ваше сообщение"></textarea>
                </div>
                <!-- Send button :disabled="!BtnSend" -->
                <button :disabled="message.message===''" class="btn btn-outline-secondary"
                type="submit">Отправить</button>

            </form>
            <!-- Default form contact -->
        </div>
        <script type="text/javascript">
            var feedback = new Vue({
                el: '#feedback',
                data: {
                    message: {fio: '<{ username }>', phone: '<{ userphone }>', email: '<{ useremail }>', message: ''},
                    BtnSend: false,
                    msgSend: false,
                    subst: ''
                },
                methods: {
                    SendFeedback(e) {
                        e.preventDefault();
                        this.message.message = 'Тема сообщения <b>' + this.subst + '</b><br>\n\n' + this.message.message;
                        fetch('/index/feedback', {
                            mode: 'cors',
                            method: 'POST',
                            body: JSON.stringify(this.message)
                        })
                        .then((response) => {
                            if (response.ok) {
                                return response.json();
                            }
                            throw new Error('Network response was not ok');
                        })
                        .then((json) => {
                            this.message = {fio: '', phone: '', email: '', message: ''};
                            this.msgSend = true;
                            MsgBox('Ваше сообщение успешно отправлено.');
                            $('#FeedbackModal').modal('hide');
                            console.log(json);
                        })
                        .catch((error) => {
                            console.log('FormLogin', error);
                        });
                    }
                }
            });
        </script>

        </div>
    </div>
</div>
</div>

<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/"><img src="/public/img/personalAccount/logo.png" alt="logo" style="width: 75%;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="p-1">
            <p>
                <span class="header__content-info__username">Добрый день, 
                    <span> <{ username }> </span> 
                </span> 
            </p>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <p class="p-1">
                <?php if($this->userrole == 300){ ?>
                <span class="header__content-count__left-title">Остаток чеков, шт:<br></span>
                <span class="header__content-count__left-num"> <{ checkcount }> </span>
                <?php }?>
            </p>
            <p class="p-1">                
                <?php if($this->userrole == 300){ ?>
                <span class="header__content-tarrifs__name">интернет-сервис:<br>
                    <span>“Призовая молния”</span>
                </span>
                <?php }?>
            </p>
            <div id="AdminMenu">
                <ul class="navbar-nav mx-auto p-1 m-1">
                    <?php if($this->userrole != 100){ ?>
                    <li v-for="(item, i ) in Menu" @click.prevent="SetContent(item.src,i)" :key="i" :class="{ active: i === activeItem}" class="nav-link text-center">
                        <a> {{item.name}} </a>
                    </li>
                    <?php }?>
                    <?php if($this->userrole == 300){ ?>
                    <li @click.prevent="dwdldoc" class="nav-link text-center" style="border-radius: 5px;">
                        <a>Скачать договор</a>
                    </li>
                    <?php }?>
                    <?php if($this->userrole == 100){ ?>

                    <li class="nav-link text-center active"><a @click.prevent="SetContent('/lk/statistic',1)"> СТАТИСТИКА РОЗЫГРЫШЕЙ </a></li>
                    <li class="nav-link text-center"><a @click.prevent="SetContent('/lk/user',2)"> КАРТОЧКА УЧАСТНИКА </a></li>
                    <li class="nav-link text-center"><a @click.prevent="SetContent('/lk/map',3)"> Партнёры на карте </a></li>
                    <li class="nav-link text-center"><a @click.prevent="SetContent('/lk/helps',4)"> Правила участия </a></li>
                    <li class="nav-link text-center"><a @click.prevent="SetContent('/lk/clientcheck',5)"> Ваши чеки </a></li> 

                   
<!--                    <li class="nav-link m-1 p-1"><a target="_blank" href="https://play.google.com/store/apps/details?id=com.oplanet.lightning&hl=ru">
                        <img class="partners-navigation__img" src="/public/img/footer/android-big.png" alt="android" style="max-width: 150px;"></a>
                    </li>
                    <li class="nav-link m-1 p-1"> <a target="_blank" href="https://apps.apple.com/ru/app/%D0%BF%D1%80%D0%B8%D0%B7%D0%BE%D0%B2%D0%B0%D1%8F-%D0%BC%D0%BE%D0%BB%D0%BD%D0%B8%D1%8F/id1459626313">
                        <img class="partners-navigation__img" src="/public/img/footer/apple-big.png" alt="apple" style="max-width: 150px;"></a>
                    </li>-->
                    <?php }?>
                </div>
                
            </ul>
        </div>
    </div>

    <button class="personalAccount-header__content-count__btn" data-toggle="modal" data-target="#FeedbackModal">Техническая поддержка</button>
    <div class="personalAccount-header__exit p-3">
        <a href="/user/logout">Выход</a>
    </div>

</div>
</nav>
</header>

<main class="personalAccount-main p-0 m-0">
    <div class="container-fluid" style="background-color: #D3D3D3;">
        <div id="admincontent" class="<{ ContentCssClass }> mx-auto text-center" style="height: 900px; padding: 0; margin: 0;">
            <{ admincontent }>
        </div>
    </div>
</main>

<script>
    var AdminMenu = new Vue({
        el: '#AdminMenu',
        data: {
            Menu: [],
            isActive:[],
            activeItem:<{mnuindex}>
        },
        created() {
            window.onpopstate = (event) => {
                if (event.state != null) {
                    this.SetContent(event.state);
                }
                //                console.log(event.state);
            };
        },
        beforeCreate() {
            document.addEventListener("DOMContentLoaded", this.ready);
            fetch('/lk/getmenu/?AJAX=1')
            .then(res => res.json())
            .then(res => {
                this.Menu = res;
            });
        },
        methods: {
            dwdldoc() {
                window.location.href = '/public/uploads/dogovor.docx';
            },
            SetContent(url,i) {
                this.activeItem = i;
                window.history.pushState(url, "state", url);
                element = document.getElementById('admincontent');
                element.style.display = "none";
                fetch(url + '?AJAX=1', {
                    mode: 'cors',
                    method: 'POST',
                    cache: 'no-cache',
                    credentials: 'same-origin'
                })
                .then(res => res.json())
                .then(res => {

                    element.innerHTML = res.Content;

                    $(document).ready(() => {
                        execBodyScripts(element);
                        element.style.display = "block";
                                //                        console.log("exec_body_scripts(rel)");
                            });
                            //                    console.log(res);
                        });
            },
            ready() {
                console.log('redi');
            }
        }
    });

</script>

