    <!-- <div class="content-title--wrap container">
        <h6 class="content-title m-4 ">Карта партнеров</h6>
        <span></span>
    </div> -->
<style>
    #YaMap {
       height: 100%;
       width: 100%;
   }
   .ymap-container {
       height: 100%;
       width: 100%;
   }
</style>


    <div id="YaMap" class="container" style="height: 600px;">
        <yandex-map :settings="settings" @map-was-initialized="initHandler"
            :controls="['geolocationControl','rulerControl','typeSelector','zoomControl']"
            :coords="latlng"
            zoom="11"
            :cluster-options="clusterOptions"
            <!--:placemarks="markers"-->
            <!--@click="MapClick"-->
            >
<!--            <ymap-marker
                marker-id="123123"
                :icon="{color: 'green', glyph: 'home'}"
                :coords="latlng"></ymap-marker>-->
            <ymap-marker v-if="PartsShow"
                v-for="marker in markers"
                <!--:key="marker.id"-->
                :marker-id="marker.id"
                :hint-content="marker.baloons"
                :balloon="{header: marker}"
                :coords="marker.coords"
                :icon="marker.icon"
                <!--marker-type="Placemark"-->
                cluster-name="1"
                :balloon-template="balloonTemplate2(marker)"
                <!--@click="PartnerShow(marker)"-->
                @balloonopen="PartnerShow(marker)"
<!--                marker-id="111"
                cluster-name="1"-->
                >
                
            </ymap-marker>
        </yandex-map>
        <!-- Modal -->
        <div class="modal fade" id="YaMapModalCenter" tabindex="-1" role="dialog" aria-labelledby="YaMapModalCenterTitle"
          aria-hidden="true">

          <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
          <div class="modal-dialog modal-dialog-centered" role="document">


            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{ modalPartners.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>{{ modalPartners.address }}</p>
                {{ modalPartners.desc }}
              </div>
        <!--      <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>-->
            </div>
          </div>
        </div>
<!--        <button type="button" @click="removeLastMarker">
            Remove last marker
        </button>-->
    </div>
<script>
var YaMap = new Vue({
        el: '#YaMap',
        data: {modalPartners:{name:'',desc:'',address:''},PartsShow:false,
                clusterOptions: {
                1: {
                  clusterDisableClickZoom: false,
                  clusterOpenBalloonOnClick: true,
                  clusterBalloonLayout: [
                    '<div class="manybaloon"><h4>{{ properties.geoObjects[0].properties.balloonContentHeader.address }}</h4>',
                    '<ul>',
                    '{% for geoObject in properties.geoObjects %}',
                    '<li><span>{{ geoObject.properties.balloonContentHeader.name|raw }}</span></li>',
                    '{% endfor %}',
                    '</ul></div>'
                  ].join('')
                }
              },
            settings: {
                lang: 'ru_RU',
                apiKey: '<{ YaMapApiKey }>',
                version: '2.1',
                coordorder: 'latlong'
            },
            latlng: [54.306784407107926,48.33117284497061],
            markers: [
//                {
//                    id: 1,
//                    coords: [54.30746670404238, 48.331961414420924],
//                    icon: {content: 'Точка с водкой'}
//                }, {
//                    id: 2,
//                    coords: [54.30665735745261, 48.334182283485276],
//                    icon: {content: 'ЗОЖ'}
//                }
            ]
        },
        computed: {
            balloonTemplate() {
              return `<h2>${this.modalPartners.name}</h2>
                <h5>${this.modalPartners.address}</h5>
                
                `;//<p>${this.modalPartners.desc}</p>
            }
        },
        methods: {
            balloonTemplate2(bal) {
              return `<div class="manybaloon"><h4>${bal.name}</h4>
                <h5>${bal.address}</h5>
                <p>${bal.desc}</p>
                </div>
                `;//<p>${this.modalPartners.desc}</p>
            },
            PartnerShow(part){
                this.modalPartners  = part;
//                $('#YaMapModalCenter').modal('show');
                console.log(part);
            },
            initHandler(map) {
                map.behaviors.disable('scrollZoom');
                fetch('/api/lk/getallkkm', {
                    mode: 'cors',
                    method: 'POST'//,
                    //body: JSON.stringify(this.KKM)
                })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Network response was not ok');
                })
                .then((json) => {
//                    return;
                    json.forEach((item, i, arr)=> {
//                        this.markers.push(tmp);
                        ymaps.geocode(item.address).then( (res) =>{
                            var firstGeoObject = res.geoObjects.get(0);
                            this.markers.push({
                                id: i,
                                coords: firstGeoObject.geometry.getCoordinates(),
                                name: item.name,
                                address: item.address,
                                desc: item.desc,
                                baloons: item.name + ' ' + item.address,
                                icon: {color: 'violet'}
                            });
                            if(i+1>=json.length){
                                setTimeout(()=>{this.PartsShow = true;}, 1500);
                                
//                                console.log(json,i);
                            }
//                                    console.log( tmp );
                        }); 
//                         console.log(json,i);
                    });
                    

                })
                .catch((error) => {
                    console.log(error);
                });
            },
            removeLastMarker() {
                this.markers.pop();
            },
            MapClick(e){
                var coords = e.get('coords');
                tmp = {
                    id: 4,
                    coords: coords,
                    icon: {content: coords}
                };
//                this.latlng=coords;
                this.markers.push(tmp);
                var geo = ymaps.geocode(coords);
                geo.then((res)=>{
                    var firstGeoObject = res.geoObjects.get(0);
                    console.log(firstGeoObject.properties.get('text'));
                    var objs = res.geoObjects.toArray();
                        var YmapCoords = objs[0].geometry.getCoordinates();
                    },
                    function (err) {
                        // Обработка ошибки.
                    }
                );
//                console.log(tmp);
            }
        }
    })
</script>