<div class="container" style="background-color: #DCDCDC;">
    <div class="content-title--wrap">
        <h2 class="content-title m-4 text-center">Статистика проведенных розыгрышей<br></h2>
        <span></span>
    </div>
    <div id="winnersw" class="winners">
        <h2 class="text-center m-4">выбор периода времени или поиск по номеру телефона:</h2>
        <hr>
        <div class="winners__header winners__header-lk">

            <div class="winners__header__btn_wrap">

                <!--<button @click="FilterWinersNow" class="winners__header__btn">за сегодня</button>-->
                <button @click="FilterWinersWeek" class="winners__header__btn">за неделю</button>
                <button @click="posts = winners" class="winners__header__btn">за месяц</button>
                <!--<button class="winners__header__btn">все</button>-->
            </div>
            <form @submit="FindPhone" class="winners__header__form form-winners">
                <!--<input type="date" value="2020-04-10">-->
                <div class="form-winners__search">
                    <input v-model="findPhone" @keyup="FindPhone" type="tel"
                    placeholder="Проверить статус по номеру телефона...">
                    <input type="submit" value="">
                </div>
            </form>
        </div>
            <!--            <form @submit="FindPhone" class="winners-top">
                    <label for="checktel">Проверить свой номер телефона</label>
                    <input v-model="findPhone" @keyup="FindPhone" type="tel" id="checktel" placeholder="Номер вашего телефона">
                    <input type="submit" value="">
                </form>-->
                <!-- /.winners-top -->
                <div class="winners__content winners__content-lk">
                <!--                <div class="winners-content__top">
                        <button @click="posts = winners" class="active">Все призы за последнии 30 дней</button>
                         <button>джекпот</button> 
                     </div>-->
                     <!-- /.winners-content__top -->

                     <table v-show="posts.length>=1" class="table-winners">
                    <!--                    <thead>
                            <tr class="table-winners__title">
                                <th>Дата</th>
                                <th style=" border-right: 1px solid #B2B2B2; border-left: 1px solid #B2B2B2;">Имя участника</th>
                                <th>Сумма</th>
                                <th>Телефон</th>
                            </tr>
                        </thead>-->
                        <tbody>
                            <tr class="table-winners__title">
                                <th>Дата</th>
                                <th style="border-right: 1px solid #B2B2B2; border-left: 1px solid #B2B2B2;">
                                    Имя участника
                                </th>
                                <th style="border-right: 1px solid #B2B2B2; border-left: 1px solid #B2B2B2;">
                                    Приз
                                </th>
                                <th>
                                    Телефон
                                </th>
                            </tr>
                            <tr v-for="item in displayedPosts">
                                <td style="border-right: 1px solid #B2B2B2; ">
                                    {{ item.windate }}
                                </td>
                                <td style="border-right: 1px solid #B2B2B2; border-left: 1px solid #B2B2B2;">
                                    {{ item.name }}
                                </td>
                                <td style="border-right: 1px solid #B2B2B2; border-left: 1px solid #B2B2B2;">
                                    <div v-if="item.wintext">{{ item.wintext }}</div> <div v-if="item.winsum!=='0.00'">{{ item.winsum }}</div>
                                </td>
                                <td style=" border-left: 1px solid #B2B2B2;">
                                    {{ item.fphone }}
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div v-show="posts.length<1">
                        <h4>Совпадений не найдено</h4>
                    </div>
                    <!-- /.winners-content__table -->

                </div>
                <!-- /.winners-content -->
                <div class="winners__paginations m-1 p-1">
                    <!--<button class="active">1</button>-->
                    <button class=" winners__paginations__item" type="button"
                    v-for="pageNumber in pages" @click="page = pageNumber"> {{pageNumber}} </button>

                <!--                    <button type="button"  v-if="page != 1" @click="page--"> << </button>
                    <button type="button"  v-for="pageNumber in pages.slice(page-1, page+5)" @click="page = pageNumber"> {{pageNumber}} </button>
                    <button type="button" @click="page++" v-if="page < pages.length" > >> </button>-->
                </div>
                <!-- /.winners-content__bottom -->
            </div>
        </div>


        <script type="text/javascript">
            var winners = new Vue({
                el: '#winnersw',
                data: {
                    winners: {},
                    posts: [],
                    page: 1,
                    perPage: 10,
                    pages: [],
                    findPhone: ''
                },
                created() {
                    this.getwiners();
                },
                methods: {

                    FilterWinersWeek(){
                //e.preventDefault();
                var now = new Date();
                if(isNaN(now)){
                    alert('IOS Data Time Error');
                    now = new Date();
                }
//                now.setDate(now.getDate().valueOf() - 7);
                var subdata = new Date(now.getDate().valueOf());
                subdata = subdata.setDate(now.getDate().valueOf() - 7);
                var nd = now.valueOf();
                nd = nd - subdata;
//                console.log(nd,subdata);
                let fp = _.filter(this.winners, (o) => {
                    var vrdt = o.jswindate;
                    var fday = new Date(vrdt[0]+vrdt[1]+vrdt[2]+vrdt[3],vrdt[5]+vrdt[6],vrdt[8]+vrdt[9]);
//                    console.log(fday,o.jswindate);
if (fday.valueOf() > nd) { 
    return o;
}
                    //return o.phone == this.findPhone; 
                });
                //                this.posts =[];
                this.posts = fp;
                this.page =1;
            },
            FilterWinersNow(e){
                e.preventDefault();
                var now = new Date();
//                now.setDate(now.getDate() - 7);
var nd = now.valueOf();
let fp = _.filter(this.winners, (o) => {
    var fday = new Date(o.jswindate);
//                    console.log(fday,o.jswindate);
if (fday.valueOf() > nd) { 
    return o;
}
                    //return o.phone == this.findPhone; 
                });
                //                this.posts =[];
                this.posts = fp;
            },
            FindPhone(e) {
                e.preventDefault();
                let fp = _.filter(this.winners, (o) => {
                    var strF = new RegExp(this.findPhone, 'gi');
                    var strFn = String(o.phone);
                    return strFn.search(strF) > -1;
                    //return o.phone == this.findPhone; 
                });
                //                this.posts =[];
                this.posts = fp;
                //                console.log(this.posts);
            },
            getwiners() {
                fetch('/api/checks/getwiners', {
                    mode: 'cors',
                    method: 'POST'
                })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Network response was not ok');
                })
                .then((json) => {
                    this.posts = json;
                    this.winners = json;
                    this.FilterWinersWeek();
                    console.log(this.posts);
                })
                .catch((error) => {
                            //                    this.errors = error;
                            console.log('FormLogin', error);
                        });
            },
            setPages() {
                this.pages = [];
                let numberOfPages = Math.ceil(this.posts.length / this.perPage);
                for (let index = 1; index <= numberOfPages; index++) {
                    this.pages.push(index);
                }
            },
            paginate(posts) {
                let page = this.page;
                let perPage = this.perPage;
                let from = (page * perPage) - perPage;
                let to = (page * perPage);
                return posts.slice(from, to);
            }
        },
        watch: {
            posts() {
                this.setPages();
            }
        },
        computed: {
            displayedPosts() {
                return this.paginate(this.posts);
            }
        },
    });
</script>